@{
    ViewData["Title"] = "Каллорийность";
}

<div class="text-center">
    <div>Из возможных улучшений: 
        <p>Не показывать пользователю напрямую текст исключения, т.к пользователь может воспрользоваться информацией о внутренних ошибках</p>
        <p>Сделать нормальный логгер</p>
        <p>Сделать нормальный шарповский layout проекта</p>
        <p>Сделать нормальные View. Чтобы был какая-то структурка, а не просто уже отформаченная строка</p>
        </div>
</div>