@using CalorieContent.Services.Recipe.Models
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Работа с бизнес логикой";
}

<div class="text-center">
    <h1 class="display-4">Каллорийность</h1>
    <h2>Работа с биснес логикой</h2>
    <form asp-action="" method="get">
        <div class="interactive">
            <div class="input_form">
                <input type="text" id="input" name="input" value="пельмени"/>
            </div>
            <div class="selection">
                <p align="left"><input type="radio" id="choose" name="choose" value="1"/>Детали о блюде</p>
                <p align="left"><input type="radio" id="choose" name="choose" value="2"/>Калорийностью ниже чем</p>
                <p align="left"><input type="radio" id="choose" name="choose" value="3"/>Блюда из ингредиентов (введите ингредиенты через запятую)</p>
            </div>
        </div>
    </form>
    <div>
        @{
            if (!String.IsNullOrEmpty((String)ViewData["ResultOfService"]))
            {
                <p>Results</p>
                <pre class="result" >@ViewData["ResultOfService"]</pre>
            }
         }
    </div>
</div>