@{
    ViewData["Title"] = "Работа с бизнес логикой";
}

<div class="text-center">
    <h1 class="display-4">Каллорийность</h1>
    <h2>Работа с биснес логикой</h2>
    <form asp-action="" method="get">
        <div class="interactive">
            <div class="input_form">
                <input type="text" id="Input" name="Input" value="Пельмени"/>
            </div>
            <div class="selection">
                <p align="left"><input type="radio" id="ServiceType" name="ServiceType" value="0"/>Детали о блюде</p>
                <p align="left"><input type="radio" id="ServiceType" name="ServiceType" value="1"/>Калорийностью ниже чем</p>
                <p align="left"><input type="radio" id="ServiceType" name="ServiceType" value="2"/>Блюда из ингредиентов (введите ингредиенты через запятую)</p>
            </div>
        </div>
    </form>
    <div>
        <p>Results</p>
        <p>@ViewData["Message"]</p>
    </div>
    
</div>