@using CalorieContent.Services.Recipe.Models
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Работа с БД";
}

<div class="text-center">
    <h1 class="display-4">Ингридиенты</h1>
    <h2>Работа с данными</h2>
    
    <div class="wrapper">
        <div class="result">
        <p>1. Отображение одного элемента</p>
        @using (Html.BeginForm("ShowOne", "DataIngredient"))
        {
            <input type="text" name="data" placeholder="название ингридиента"/>
            <input type="submit"/>
        }
        </div>

        <div class="result">
        <p>2. Отображение всех записей</p>
        @using (Html.BeginForm("ShowAll", "DataIngredient"))
        {
            <input type="submit"/>
        }
        </div>
        
        <div class="result">
            <p>3. Редактирование записи</p>
            @using (Html.BeginForm("Edit", "DataIngredient"))
            {
                <input type="text" name="ingredientName" placeholder="название ингридиента"/>
                <input type="text" name="calorieContentPerHundredGrams" placeholder="каллорийность на 100 грамм"/>
                <input type="submit"/>
            }
        </div>
        
        <div class="result">
            <p>4. Удаление записи</p>
            @using (Html.BeginForm("Delete", "DataIngredient"))
            {
                <input type="text" name="ingredientName" placeholder="название ингридиента"/>
                <input type="submit"/>
            }
        </div>    
        
        <div class="result">
            <p>5. Создание записи</p>
            @using (Html.BeginForm("Edit", "DataIngredient"))
            {
                <input type="text" name="ingredientName" placeholder="название ингридиента"/>
                <input type="text" name="calorieContentPerHundredGrams" placeholder="каллорийность на 100 грамм"/>
                <input type="submit"/>
            }
        </div>              
        
        <div class="result">
            @if (Model != null)
            {
                if (!string.IsNullOrEmpty(Model.Error))
                {
                    <p>Работы метода завершилась с ошибкой</p>
                    <pre>@Model.Error</pre>
                }
                else
                {
                    <p>Результат работы метода</p>
                    <pre>@Model.Result</pre>
                }
            }
        </div>

    </div>
    <div>
       
    </div>
</div>